-
  const points = [
    {
      image: require('../../sources/images/why_1.png'),
      description: 'From reactive to proactive.',
    },
    {
      image: require('../../sources/images/why_2.png'),
      description: 'From static supply chains to dynamic networks.',
    },
    {
      image: require('../../sources/images/why_3.png'),
      description: 'From cost-cutting to intelligent, long-term value creation.',
    },
  ]

section(data-color="white").upperHalfGradient.colorSection
  .upperHalfGradient__container
    .upperHalfGradient__cards._anim-items._anim-no-hide
      h6.subtitle.about__subtitle._anim-items._anim-no-hide Why ApolloRise
      h1.h1.upperHalfGradient__title._anim-items._anim-no-hide
        | Smarter Procurement,
        br
        | Built for the Future.
    div.upperHalfGradient__description_container
      h6.text_1.upperHalfGradient__description._anim-items._anim-no-hide
        | At ApolloRise, we don’t just optimize procurement — we redefine it. Our AI-powered platform blends data, automation, and human expertise to create a seamless, strategic, and scalable approach to sourcing and procurement.
    ul.whyPoints__container
      each point in points
        li.whyPoints__item._anim-items._anim-no-hid
          img.itemImage(src=point.image, alr=point.description)
          p.text_3.itemDescription= point.description

