section(data-color="white" id="about").about.colorSection
  .about__wrapper 
    div
      h6.subtitle.about__subtitle._anim-items._anim-no-hide About
      h1.h1.about__title._anim-items._anim-no-hide We are a team of passionate professionals dedicated to delivering excellence in custom software development. 
    .text_1.about__description._anim-items._anim-no-hide Our love for problem-solving drives us to create innovative solutions that transform businesses across diverse industries.