
section(data-color="dark" id="ourCommitment").ourCommitment.colorSection
  .ourCommitment__wrapper
    .ourCommitment__left_section
      h6.subtitle.about__subtitle._anim-items._anim-no-hide Our Commitment
      h1.h1.ourCommitment__title._anim-items._anim-no-hide
        | AI + Human
        br
        | Expertise
      p.text_1._anim-items._anim-no-hide Procurement isn’t just about automation — it’s about intelligent decision-making. Our solutions are designed to empower professionals, not replace them.
    .ourCommitment__right_section
      ul._anim-items._anim-no-hide
        li.text_2 AI does the heavy lifting — your team makes the strategic calls.
        li.text_2 We help you future-proof procurement, not just fix today’s problems.
        li.text_2 Procurement isn’t a cost center — it’s a competitive advantage.
      button(type="button").button_yellow.size_m.ourCommitment__button.action_button Transform now

