:root {
  --yellowWhite: #FCFBF8;
  --yellowLight2: #FEEBA9;
  --black: #23221F;
  --black1: #918A72;
  --black2: #7B7561;
  --black3: #656151;
  --black4: #4F4B40;
  --black5: #393830;

  --yellowDark: #F1BF04;
  --yellow: #FFC901;
  --textGray: #888888;
  --gray: #DCDCDC;
  --red: #FF3838;

  --yellowLight: #FFF2C4;
  --darkGray: #42423F;
  --redLight: #FF6A6A;
}