section(data-color="white").upperGradientMain.colorSection
  .upperGradientMain__container
    .upperGradientMain__cards._anim-items._anim-no-hide
      h6.subtitle.about__subtitle._anim-items._anim-no-hide Solutions
      h1.h1.upperGradientMain__title._anim-items._anim-no-hide
        | AI-Driven Procurement.
        br
        | Smarter, Faster, Future-Ready.
    div.upperGradientMain__description_container
      h6.text_1.upperGradientMain__description._anim-items._anim-no-hide
        | At ApolloRise, we empower procurement and sourcing teams with
        span  AI-powered insights, automation, and strategic execution to optimize contracts, reduce costs, and future-proof supply networks.
        |  Our solutions are designed to make procurement more intelligent, agile, and results-driven.