section(data-color="white" id="industries").industries.colorSection
  .industries__wrapper 
    div
      h6.subtitle.industries__subtitle._anim-items._anim-no-hide Industries
      h1.h1.industries__title._anim-items._anim-no-hide
        span Our expertise extends 
        | across a wide range of industries. 
    .industries__description.text_2._anim-items._anim-no-hide
      p
        | We are dedicated to crafting tailored software solutions that 
        | meet the unique demands of each sector. Whether you're in healthcare, 
        | finance, e-commerce, or any other industry, our team is well-equipped 
        | to deliver innovative and customized software that will drive your business forward. 
      p We thrive on the challenge of adapting our skills to new domains and are committed to exceeding your expectations.
